* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Universal Style */

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a,
nav a {
    text-decoration: none;
}

.center {
    text-align: center;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    display: block;
    max-width: 100%;
}

/* Header Section */

header {
    height: 5.3125rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.875rem;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 1;
}

header a {
    color: black;
}

.desktop ul {
    display: flex;
}

.desktop ul li {
    padding: 0 1.5rem;
}

.insta {
    height: 0.75rem;
    width: 0.9rem;
    margin-left: 1rem;
}

.mobile {
    display: none;
}

/* Banner Section */

#banner {
    background-image: url(../images/banner-landingpage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 5.3125rem;
}

#call-to-action {
    display: inline-block;
    background-color: #9dc20a;
    border: 1px solid #979797;
    border-radius: 4px;
    color: white;
    margin: 10.625rem 0 10.625rem 6.25rem;
    padding: 2rem 5rem 3.5rem 5rem;
}

.content .text1 {
    font-family: 'Damion', cursive;
    font-size: 2.5rem;
    line-height: 1.4;
}

.content .text2 {
    font-family: 'Rubik', sans-serif;
    font-size: 3.125rem;
    line-height: 1.4;
    padding-bottom: 0.75rem;
}

.email p {
    padding-bottom: 1.625rem;
}

.email p,
.email span {
    font-size: 1.25rem;
    line-height: 1.4;
}

.email .list {
    background-color: #4a4a4a;
    border-radius: 4px;
    padding: 1rem 7rem;
}

/* Feature Section */

#feature-section {
    padding: 4rem 5%;
    display: flex;
    background-color: #f3f3f3;
}

.feature {
    padding: 2em;
    margin: 0 1.1875rem;
    background-color: white;
}

.feature .content h1 {
    padding-top: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.2;
    color: black;
}

.feature .content p {
    padding-top: 1rem;
    line-height: 1.2;
    color: #4a4a4a;
}

/* Filter Section */

#filter-section {
    background-color: #4a4a4a;
    padding: 4rem 1%;
    color: white;
}

#filter-section .content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.25rem;
    font-weight: bold;
    opacity: 100%;
}

#filter-section .content p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    padding-top: 0.35rem;
}

#filter-section .image-container {
    display: flex;
    padding-top: 2.5rem;
}

/* Quote Section */

#quote-section {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

#quote-section h2 {
    color: #4a4a4a;
    font-family: 'Damion', cursive;
    font-size: 1.875rem;
}

#quote-section img {
    margin-left: 1.875rem;
}

/* Footer section */

footer {
    background-color: #9b9b9b;
    height: 3.875rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

footer span {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
}