/* "Tamming" Box Model With Reset */

html { 
    box-sizing: border-box; 
  }
  *, *:before, *:after { 
    box-sizing: inherit;
}

/* Universal Styles */

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.center {
    text-align: center;
}

/* Header Section */

header {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid black;
}

header .content {
    display: flex;
    align-items: center;
    height: 85px;
    padding: 0 30px;
}

nav a {
    text-decoration: none;
    color: black;
}

.content .logo {
    color: black;
    flex-grow: 1;
    text-decoration: none;
}

.desktop ul {
    display: flex;
}

.desktop ul li {
    padding-left: 3.5rem;
}

.insta {
    height: 0.9rem;
    width: 0.9rem;
    padding-left: 0.6rem;
}

.mobile {
    display: none;
}

/* Banner Section */

#banner {
    background-image: url(../images/banner-landingpage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 44.625rem;
    position: relative;
    top: 5.3125rem;
}

#call-to-action {
    display: inline-block;
    padding: 2rem 5rem 3.5rem 5rem;
    background-color: #9dc20a;
    border: 1px solid #979797;
    border-radius: 4px;
    margin-top: 10.625rem;
    margin-bottom: 10.625rem;
    margin-left: 6.25rem;
    color: white;
}

.content .text1 {
    font-family: 'Damion', cursive;
    font-size: 2.5rem;
    line-height: 1.4;
}

.content .text2 {
    font-family: 'Rubik', sans-serif;
    font-size: 3.125rem;
    line-height: 1.4;
    padding-bottom: 0.75rem;
}

.email p {
    font-size: 1.25rem;
    line-height: 1.4;
    padding-bottom: 26px;
}

.button {
    background-color: #4a4a4a;
    border-radius: 4px;
    padding: 1.5rem 0;
}

/* Feature Section */

#feature-section {
    display: flex;
}

.feature {
    height: 39.6875rem;
}

.image-container img {
    height: 65%;
    width: 90%;
}